<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tester</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Iris Predictive API</h1>
        <div class="row">
            <div class="form-group col-md-2">
                <label for="sepal_length">Sepal length:</label>
                <input type="number" id="sepal_length" class="form-control" min="0.1" max="10" step=".1" />
            </div>
            <div class="form-group col-md-2">
                <label for="sepal_width">Sepal width:</label>
                <input type="number" id="sepal_width" class="form-control" min="0.1" max="10" step=".1" />
            </div>
            <div class="form-group col-md-2">
                <label for="petal_length">Petal length:</label>
                <input type="number" id="petal_length" class="form-control" min="0.1" max="10" step=".1" />
            </div>
            <div class="form-group col-md-2">
                <label for="petal_width">Petal width:</label>
                <input type="number" id="petal_width" class="form-control" min="0.1" max="10" step=".1" />
            </div>
            <div class="form-group col-md-2">
                <label for="sbmt">&nbsp;</label>
                <input type="submit" id="sbmt" class="form-control btn btn-success" value="Pronosticar!!" onclick="getForecast()" />
            </div>
        </div>
        <br />
        <div>
            <strong>Pronóstico:</strong>
            <br />
            <div id="records"></div>
            <br />
            <strong>JSON:</strong>
            <br />
            <pre><code id="json"></code></pre>
        </div>
    </div>
    <script>
        function getForecast() {
            const sepal_length = document.getElementById('sepal_length').value;
            const sepal_width = document.getElementById('sepal_width').value;
            const petal_length = document.getElementById('petal_length').value;
            const petal_width = document.getElementById('petal_width').value;
            $.ajax({
                url: '{{ url_for('iris', _external=True) }}',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({sepal_length, sepal_width, petal_length, petal_width}),
                success: function (data) {
                    $('#json').html(JSON.stringify(data, null, 2));
                    buildTable(data);
                }
		    });
        }
        function buildTable(data) {
            const tabDiv = document.getElementById('records');
            tabDiv.innerHTML = '';
            if (data.predicted) {
                const _table = document.createElement('table');
                _table.className = 'table table-striped table-bordered';
                const _tableHead = _table.createTHead();
                let _tr = _tableHead.insertRow();
                ['Predicted', 'Probability'].forEach(function (elm) {
                    const _th = document.createElement('th');
                    _th.innerHTML = elm;
                    _tr.appendChild(_th);
                });
                const _tableBody = document.createElement('tbody');
                _tr = document.createElement('tr');
                ['predicted', 'probability'].forEach(function (elm) {
                    const _td = document.createElement('td');
                    _td.innerHTML = data[elm];
                    _tr.appendChild(_td);
                });
                _tableBody.appendChild(_tr);
                _table.appendChild(_tableBody);
                tabDiv.appendChild(_table);
            }
        }
    </script>
</body>
</html>
